@tailwind base;
@tailwind components;
@tailwind utilities;
.Home {
  width: 1220px;
  height: 380vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

}
.Navbar {
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  border: 2px solid rgb(162, 0, 255);
}
.Navbar img {
  width: 240px;
  height: 90px;
  margin-left: 30px;
}
.H1 {
  margin: 15px auto;
  border: 2px solid rgb(162, 0, 255);
}
.BIG {
  position: absolute;
  z-index: 1;
}
.Left {
  border: 2px solid rgb(162, 0, 255);
}
.h1 {
  position: absolute;
  z-index: 10;
  margin-top: 130px;
  margin-left: 50px;
  color: rgb(0, 123, 255);
}

span {
  color: rgb(254, 143, 74);
}
.p1 {
  width: 450px;
  position: absolute;
  z-index: 10;
  margin-top: 130px;
  margin-left: 50px;
  color: rgb(0, 123, 255);
  margin-top: 3px;
}
.btn1 {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 90px;
  border-radius: 30px;
  font-size: 30px;
  margin-top: 200px;
  font-weight: bold;
  margin-left: -8 px;
}
.btn1:active {
  width: 299px;
  height: 89px;
}
.btn2 {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 90px;
  border-radius: 30px;
  font-size: 30px;
  margin-top: 200px;
  font-weight: bold;
  margin-left: 782px;
}
.btn2:active {
  width: 299px;
  height: 89px;
}
.h2 {
  color: rgb(162, 0, 255);
}
.h2:hover {
  animation: 5s a1;
}
@keyframes a1 {
  1% {
    margin-left: 0px;
  }
  50% {
    margin-left: 33px;
  }
  100% {
    margin-left: 66px;
  }
}
.Kurslar {
  width: 1220px;
  height: 150vh;
  border-radius: 10px;
  position: absolute;
  color: rgb(162, 0, 255);
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.card1 {
  border: 2px solid rgb(162, 0, 255);
  color: rgb(162, 0, 255);
}
.Loyihalar {
  width: 1220px;
  height: 150vh;
  border-radius: 10px;
  position: absolute;
  color: rgb(162, 0, 255);
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.Kodmanbalar {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  color: rgb(162, 0, 255);
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.Foundation {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.JavaScript {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.React {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.ReactNative {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.Node {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.Next {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.Nest {
  width: 1220px;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 110px;

  border: 2px solid rgb(162, 0, 255);
}
.p2 {
  color: none;
}
ul li {
  text-transform: lowercase;
  font-variant: small-caps;
  text-overflow: ellipsis;
  text-decoration: dotted;
}
.der:hover {
  border: 0.5px solid rgb(162, 0, 255);
  width: 95%;
}
.h4 {
  color: rgb(0, 123, 255);
}
@import url(https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: 'Play', sans-serif;
}
.Dars1{
  width: 1510px;
  height: 130vh;
  border: 1px solid rgb(162, 0, 255);
}
.DHome{
    width: 1120px;
  height: 90vh;
  border-radius: 10px;
  position: absolute;
  margin-left: 278px;
  margin-top: 0px;

  border: 2px solid rgb(162, 0, 255);
}
.Login{
  width: 300%;
  height: 100vh;
}
.Register{
  width: 300%;
  height: 100vh;
}
.IMG{
  position: absolute;
}
.te{
  font-size: 16px;
}
h2{
  color: rgb(0, 123, 255);
}